<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<!-- Book edition -->
<form id="create-form" action="createBook.html" th:method="post" th:action="@{/create(model=${bookModel})}" th:object="${bookModel}">
    <h3>Create book:</h3>

    <div class="row">
        <label for="book-name-input">Name:</label>
        <input id="book-name-input" name="name" type="text" value="" th:value="*{name}"/>
    </div>
    <div class="row">
        <label for="genre-name-input">Genre:</label>
        <input id="genre-name-input" name="name" type="text" value="" th:value="*{genre}"/>
    </div>
    <div class="row">
        <label for="year-of-publish-input">Year of publish:</label>
        <input id="year-of-publish-input" name="name" type="text" value="" th:value="*{year}"/>
    </div>
    <div class="row">
        <label for="authors-name-input">Authors:</label>
        <input id="authors-name-input" name="name" type="text" value="" th:value="*{authors}"/>
    </div>
    <div class="row">
        <label for="comment-input">Comment:</label>
        <input id="comment-input" name="name" type="text" value="" th:value="*{comments}"/>
    </div>

    <div class="row">
        <button type="submit">Save</button></a>
        <a href="listOfBook.html" th:href="@{/book}"><button type="button">Cancel</button></a>
    </div>
</form>

</body>
</html>
