<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>One book</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .books {
            border: 1px solid steelblue;
            width: 300px;
            border-collapse: collapse;
        }

        .books tr td, th {
            padding: 5px;
            border: 1px solid steelblue;
        }

        .books td:last-child, td:first-child {
            width: 50px;
        }
    </style>
</head>
<body>
<h3>Book:</h3>

<table class="books">
    <thead>
    <tr>
        <th>ID</th>
        <th>NameOfBook</th>
        <th>Genre</th>
        <th>YearOfPublish</th>
        <th>ListOfAuthors</th>
        <th>ListOFComments</th>
    </tr>
    </thead>
    <tbody>
        <td th:text="${book.id}">1</td>
        <td th:text="${book.name}">John Doe</td>
        <td th:text="${book.genre.getName()}">John Doe</td>
        <td th:text="${book.year.getDateOfPublish()}">John Doe</td>
        <td th:text="${book.author}">John Doe</td>
        <td th:text="${book.listOfComments}">John Doe</td>
        <td>
            <a href="editBook.html" th:href="@{/update(id=${book.id})}">Edit</a>
        </td>
    </tbody>
</table>
</body>
</html>
